require 'minitest/autorun'
require_relative '../reverse_polish_calculator'

class TestReversePolishCalculator < Minitest::Test
  def setup
    @calculator = ReversePolishCalculator.new
  end

  def test_calculator_should_calculate_with_plus_operator
    assert_equal 3, @calculator.calc('1 2 +')
  end

  def test_calculator_should_calculate_with_asterisk
    assert_equal 200, @calculator.calc('10 20 *')
  end

  def test_calculator_does_not_calculate_with_over_3_operators
    assert_equal 'Formula is invalid.', @calculator.calc('10 20 30 +')
  end
end
